<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Express Tester</h1>
    <h3>
      Submit a person to the table using the input fields and submit button.
    </h3>
    <form action="/members" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
      <label for="email">Email</label>
      <input type="text" id="email" name="email" />
      <button type="submit">Submit</button>
    </form>
    <ul>
      <% Members.forEach((member) => { %>
      <li><%= "Name: " + member.name + " Email: " + member.email %></li>
      <form action="/members" method="POST">
        <button>Delete Member</button>
      </form>

      <% }); %>
    </ul>
  </body>
</html>
